NEXT_PUBLIC_SUPABASE_URL=https://sasjyxwuwvdewyuuhxpf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNhc2p5eHd1d3ZkZXd5dXVoeHBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MTMxMjUsImV4cCI6MjA4OTI4OTEyNX0.Nn4IB92FBn4LqEteMncgIc9bKcBNy8z8o61cl0gFBaM
